// Fonts

$font-size: 1.4;
$line-height: 1.5;

$ratio: fourth();

$xxxsmallem : ms(-4 , 1em);
$xxsmallem  : ms(-3 , 1em);
$xsmallem   : ms(-2 , 1em);
$smallem    : ms(-1 , 1em);
$normem     : 1em;
$medem      : ms(1 , 1em);
$largeem    : ms(2 , 1em);
$xlargeem   : ms(3 , 1em);
$xxlargeem  : ms(4 , 1em);
$xxxlargeem : ms(5 , 1em);


// Grid

$small-break: 4;
$mid-break: 9;
$large-break: 12;
$grid-padding: 1em;
$column-width: 3em;
$gutter-width: 1.5em;
$container-style: fluid;
$border-box-sizing: true;


// Colors

// Color Scheme: http://color.hailpixel.com/#FBFDFE,BACFE8,6694CC,2A5B7E,112632,060C13,A84538,5EC97E,;

$white: #F6EFE4;
$green: #428E2F;
$black: #131206;
$blue: #1F505C;

$text-c: $black;
$bgc: $white;

$link-c: $green;
$link-hover-c: $green;

$header-bgc: $green;
$header-c: $white;
$header-hover-c: $blue;

$footer-bgc: $black;
$footer-c: $white;