---
title: Alpha Laundry Services 
---

<section id="about" class="odd">
	<div class="cell">
		<div class="wrap">
			<h1>About Us</h1>
			<p>Alpha Laundry Services is a family run business located just off the M8 near Glasgow Airport. We provide a full laundry service for small to medium sized enterprises in the Glasgow, Paisley, Renfrewshire and Loch Lomond areas.</p>
			<p>We are big enough to provide a quality finish, but small enough to ensure none of your items go missing. If service and reliability are important to you, then call or drop in to discuss your requirements with us.</p>
		</div>
	</div>
</section>
<section id="team">
	<div class="cell">
		<div class="wrap">
			<h1>The Team</h1>
			<p>We have a small dedicated team who take pride in their work. We do not use agency staff.</p>
		</div>
		<div class="image-wrap">
			<img src="img/ironing-maiden.jpg" alt="The team ironing their heart out">
			<img src="img/wash-master.jpg" alt="Emptying the washing machine">
			<img src="img/stunt-man.jpg" alt="Making the deliveries">
		</div>
	</div>
</section>
<section class="odd" id="services">
	<div class="cell">
		<div class="wrap">
			<h1>Our Services</h1>
			<h2>Laundry</h2>
			<p>We offer a flexible service to commercial premises with free pick up and delivery:</p>
			<ul class="list-cols">
				<li>Food companies - BRC standard</li>
				<li>Restaurants, bars and clubs - table covers, napkins, chef's wear, kitchen and oven cloths</li>
				<li>Guest houses and B&amp;B's - bed linen, towels</li>
				<li>Small/Medium Hotels - together with our business partner, we can offer the small to medium sized hotel a friendly and responsive service</li>
				<li>Workwear - In conjunction with our business partners, we can offer a competitive alternative to a workwear rental contract and you can rest assured all your items will be returned to you</li>
				<li>Sports clubs - football and rugby kits, towels</li>
				<li>Hairdressers and beauty salons - towels</li>
			</ul>

			<h2>Hire</h2>
			<p>We hire the full range of linen and towels to guest houses and B&amp;B's table linen to restaurants; towels to hairdressers.</p>

			<h2>Contract Linen</h2>
			<p>If you have your own linen and simply want it laundered, we will pick up and deliver free of charge for orders over &pound;12. We pride ourselves on keeping track of your property.</p>

		</div>
	</div>
</section>
<section id="contact">
	<div class="cell">
		<div class="wrap">
			<h1>Contact Us</h1>
			<div class="left">
				<p>Phone: 01505 325599</p>
				<p>Email: <a href="mailto:info@alphalaundryservices.com">info@alphalaundryservices.com</a></p>
				<p>Address: <br><small>
					Unit 16 <br>
					Mossedge <br>
					Industrial Estate,<br>
					Linwood, <br>
					Renfrewshire <br>
					PA3 3HR</small></p>
				<p><a href="https://maps.google.co.uk/maps?saddr=56.462018,-2.970721&daddr=Alpha+Laundry+Services,+Unit+16,+Mossedge+Industrial+Estate,+Linwood,+Renfrewshire+PA3+3HR&hl=en&sll=55.851026,-4.489619&sspn=0.021657,0.023217&geocode=FcKKXQMdn6vS_w%3BFRI4VAMdbX67_ymlKokci0uISDG8GqLTw3UZTg&oq=my&mra=ls&glp=1&t=m&z=8">Get Directions</a></p>
			</div>
			<form action="email.php" method="post" id="form" class="right">
				<input name="name" type="text" placeholder="Name" required>
				<input name="email" type="email" placeholder="Email" required>
				<input name="subject" type="text" placeholder="Subject" required>
				<textarea name="message" placeholder="Message"></textarea>
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</section>