@font-face {
	font-family: 'alpha';
	src:url('../fonts/alpha.eot');
	src:url('../fonts/alpha.eot?#iefix') format('embedded-opentype'),
		url('../fonts/alpha.woff') format('woff'),
		url('../fonts/alpha.ttf') format('truetype'),
		url('../fonts/alpha.svg#alpha') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'alpha';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

// Phone: &#xf095;
// Email: &#xf0e0;
// Pin:   &#xf041;