input, select, textarea {
    background-color: $white;
    border: 1px solid shade($bgc, 15%);
    color: tint($text-c, 40%);
    padding: .5em .7em;
    
    border-radius: .2em;
    box-shadow: inset 0 0 .5em rgba(0,0,0,.05);
    width: 100%;
    outline: none;
    @include g-space(margin-bottom, .5);
    @include transition(all .4s);

    &:hover {
        border: 1px solid shade($bgc, 30%);
    }

    &:focus {
        color: $text-c;
        background-color: tint($white, 50%);
        border: 1px solid shade($bgc, 50%);
        box-shadow: inset 0 0 .2em rgba(0,0,0,0.1);
    }
}

textarea {
    resize: vertical;
    min-height: 9em;
}

label {
    color: tint($text-c, 20%);
    padding: 1em 0;
    @include g-space(margin-bottom);
    text-align: right;
    clear: both;
}

fieldset {
    padding: 0 0 1em;
    border: none;
    border-bottom: 1px solid darken($bgc, 10%);
    // margin-bottom: 2em;

    &:last-child {
        margin-bottom: none;
        border-bottom: none;
    }
}

legend {
    font-size: 2em;
    margin-bottom: 0.5em;
}

button {
    font-weight: 100;
    background-color: $footer-bgc;
    color: lighten($footer-c, 10%);
    border: none;
    border-radius: .1em;
    display: inline-block;
    padding: .5em 1em;
    width: 100%;
    @include transition(background-color .3s, color .3s, border-color .3s);

    &:hover, &:focus, &:hover, &:active {
        background-color: $green;
    }

    &:active {
        @include transform(translateY(2px));
    }
}