*, *:after, *:before {
	@include box-sizing(border-box);
}

html {
	max-width: 100%;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
}

html, body {
	background-color: $bgc;
	height: 100%;
}

a {
	color: $link-c;
	@include transition(all .3s);
	
	&:active, &:focus, &:hover {
		color: $link-hover-c;
	}
}

section {
	display: table;
	height: 100%;
	width: 100%;
	overflow: hidden;


	&.odd {
		background-color: $green;
		color: $white;
		text-shadow: .05em .05em 0 rgba(0,0,0,.2);
		
		a {
			color: $white;
			&:active, &:focus, &:hover {
				color: $black;
			}
		}
		
		.wrap {
			@include animation(bounceInLeft 1s);
		}
	}

}
.cell {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.wrap {
	@include animation(bounceInRight 1s);
	max-width: 40em;
	margin: 0 auto;
	padding: 1em;
}

.image-wrap {
	padding: 1em 1em 0 1em;
	text-align: center;
	
	img {
		border: .2em solid lighten($white, 5%);
		box-shadow: 0 0 .5em rgba(0,0,0,.05);
		display: inline-block;
		margin-bottom: 1em;
		max-width: 100%;
		height: auto;
		width: auto;
		max-height: 3em;
		@include at-breakpoint(20em) {
			max-height: 4em;
		}
		@include at-breakpoint(25em) {
			max-height: 5em;
		}
		@include at-breakpoint(30em) {
			max-height: 6em;
		}
		@include at-breakpoint(35em) {
			max-height: 4em;
		}
		@include at-breakpoint(40em) {
			max-height: 5em;
		}
		@include at-breakpoint(45em) {
			max-height: 6em;
		}
		@include at-breakpoint(50em ie) {
			max-height: 7em;
		}
		@include at-breakpoint(55em) {
			max-height: 8em;
		}
		@include at-breakpoint(60em) {
			max-height: 8.5em;
		}
		@include at-breakpoint(65em) {
			max-height: 9.5em;
		}
		@include at-breakpoint(70em) {
			max-height: 10.5em;
		}
		@include at-breakpoint(75em) {
			max-height: 11.2em;
		}
		@include at-breakpoint(80em) {
			max-height: 12.2em;
		}
		@include at-breakpoint(85em) {
			max-height: 13em;
		}
		@include at-breakpoint(90em) {
			max-height: 13.5em;
		}
		@include at-breakpoint(95em) {
			max-height: 14em;
		}
	}
}

@include animate;