html {
	font-size: #{$font-size}em;
	line-height: $line-height;
	color: $text-c;
	font-family: 'PT Sans', 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

p {
	margin-top: 0;
	@include g-space(margin-bottom);
}

h1 {
	font-size: $xlargeem;
	@include g-space(margin-top);
	@include g-space(margin-bottom);
}

h2 {
	font-size: $largeem;
	@include g-space(margin-top);
	@include g-space(margin-bottom);
}

h3 {
	font-size: $medem;
	@include g-space(margin-top);
	margin-bottom: 0;
}

h4, h5, h6 {
	font-size: $normem;
	@include g-space(margin-top);
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
}

small {
	font-size: $smallem;
	line-height: 1.2;
}